.circuit-detail-section {
  margin: 2rem;
  font-size: 0.8rem;
  line-height: 1.5;
}
.table-cell {
  border-bottom: 1px #111111 solid;
  border-right: 1px #111111 solid;
}
.table-row {
  //border-bottom: 1px #111111 solid;
}
