<div class="dashvue-content">
  <div class="container icon-jumbotron-container">
    <div class="jumbotron dashvue-jumbotron">
      <div class="link-category">
        <h4 class="text-center">TBS Online Preview</h4>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-5 icon-tile">
            <div class="text-center">
              <a class="" routerLink="psr-search" routerLinkActive="active" id="psr-search-link">
                <img [src]="baseImageUrl + 'dv_search.png'" class="link-image">
                <div>PSR Search</div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-5 icon-tile">
            <div class="text-center">
              <a class="" routerLink="connection-design-search" routerLinkActive="active" id="connection-design-search-link">
                <img [src]="baseImageUrl + 'dv_search.png'" class="link-image">
                <div>Connection Design</div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-5 icon-tile">
            <div class="text-center">
              <a class="" routerLink="connection-hierarchy" routerLinkActive="active" id="connection-hierarchy-search-link">
                <img [src]="baseImageUrl + 'dv_search.png'" class="link-image">
                <div>Connection Hierarchy</div>
              </a>
            </div>
          </div>
        </div>
        <hr class="my-4">
      </div>
    </div>
  </div>
</div>
