.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -0.1rem;
}
.verizon-logo {
  width: 13rem;
  height: 5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.dropdown-submenu > a::after {
  display: inline-block;
  float: right;
  width: 0;
  height: 0;
  margin-top: .4em;
  /*margin-left: .255em;*/
  content: "";
  border-left: .4em solid;
  border-top: .4em solid transparent;
  border-right: 0;
  border-bottom: .4em solid transparent;
}
.nav-item.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
